div.customer-permission{
    margin-top: 10px;
    margin-left: 50px;
}

div.ant-table-wrapper{
	/*background-color: #fbfbfb;*/
}

form.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 20px;
}
