div.sub-content-main a.skio-logo-link {
    /*height: 50px;*/
    /*margin-top: 10px;*/
    /*display: inline-block;*/
}

div.skio-logo-link{
  display: inline-block;
  /*margin-top: 10px;*/
}

div.sub-content-main{
    display: inline-block;
    width: 30%;
}

div.skio-header-list {
  background-color: green;
  display: inline-block;
  width: calc(100% - 30%);
  height: 70px;
  float: right;
}

div.skio-header-list ul.skio-user-info {
  float: right;
  margin: 25px 65px 0 0;
}

div.sub-content-main a img{
  margin-top: 5px;
  min-height: 35px;
}


div.sub-content-main div.time{
  display: inline-block;
  height: auto;
  margin-left: 25px;
  margin-top: 5px;
  padding: 5px;
  color: #108ee9;
  font-size: 20px;
}

div.skio-header-list span.logout{
  margin-top: 25px;
}

div.skio-header-list span ul{
  margin-right: 65px;
}

div.skio-header-list span.skio-down-icon{
  margin-left: 5px;
  color: #fff;
}

div.skio-header-list a.skio-dropdown-toggle{
  color: #fff;
}

div.skio-header-list span.skio-username{
  font-size: 16px;
  color: #fff;
}
