div.sub-content-main a.skio-logo-link {
    display: inline-block;
    margin-left: 10px;
}

div.skio-logo-link{
  display: inline-block;
  margin-top: 10px;
}

div.sub-content-main{
    display: inline-block;
    width: 30%;
}

div.skio-header-list {
  display: inline-block;
  width: calc(100% - 30%);
  height: 70px;
  float: right;
}

div.skio-header-list ul.skio-user-info {
  float: right;
  margin: 25px 65px 0 0;
}

div.sub-content-main a img{
  margin-top: 5px;
  min-height: 35px;
}


div.sub-content-main div.time{
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  margin-left: 25px;
  padding: 5px;
  color: #ecf6fd;
  font-size: 20px;
}

/*div.sub-content-main div.logout{
  display: inline-block;
  height: 70px;
  vertical-align: middle;
  padding: 5px;
  margin: 5px 0 0 25px;
}*/

div.skio-header-list span.skio-down-icon{
  margin-left: 5px;
}

div.skio-header-list a.skio-dropdown-toggle{
  color: #fff;
}

div.skio-header-list div.skio-dropdown-toggle :hover{
  color: #ecf6fd;
}


div.skio-header-list span.skio-username{
  font-size: 18px;
}

ul.dropdown-menu {
  font-family: Hiragino Sans GB,Microsoft Yahei UI,Microsoft Yahei,Glyphicons Halflings,FontAwesome;
  width: 212px;
  right: 100px;
  color: #212121;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  position: absolute;
  top: 65px;
  z-index: 1000;
  float: left;
  min-width: 180px;
  padding: 20px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  content: "";
}

ul.dropdown-menu ::after {
    position: absolute;
    content: "";
    left: 150px;
    top: -7px;
    width: 3px;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

ul.dropdown-menu h3{
  font-size: 18px;
  line-height: 18px;
}

ul.dropdown-menu hr{
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #eee;
}

ul.dropdown-menu p {
  font-size: 12px;
  line-height: 24px;
}

ul.dropdown-menu p span {
  margin-left: 10px;
  color: #515151;
}

ul.dropdown-menu a.user-btn{
  display: block;
  margin-top: 5px;
  height: 28px;
  line-height: 28px;
  background: #06bf04;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

ul.dropdown-menu a.user-btn.logout:hover{
  background-color: #f04134;
}

ul.dropdown-menu a.user-btn.edit:hover{
  background-color: #4fb053;
}
