div.ant-layout ul.menu-collapsed a{
  display: inline-block;
}

.ant-layout-sider {
  background-color: #fff;
}

div.ant-layout-content {
  min-height: 790px;
  background-color: #fff;
  margin: 24px 16px;
  padding: 24px;
}
