div.new-form, .edit-form input{
  width: 40%;
  margin-left: 5%;
}

div.sub-content {
  width: auto;
  height: 70px;
  background-color: #34383f;
}

div.main-body{
  display: inline-block;
  width: 100%;
  height: 100%;
}


div.main-menu{
  width: 15%;
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
  min-height: 360px;
}


div.main-content{
  width: 82%;
  margin: 40px 20px 0px 20px;
  display: inline-block;
}
